      </div>
    </div>
    <div class="cups-footer">
      <span>ADCETEI - Servidor interno de impress&atilde;o</span>
      <span class="cups-footer-note">Interface administrativa CUPS - Copyright &copy; 2021-2023 OpenPrinting. Todos os direitos reservados.</span>
    </div>
  </body>
</html>
